<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
      integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/fontawesome-6-pro@6.4.0/css/all.min.css"
    />
    <title>Planifyme</title>
    <link rel="stylesheet" href="/css/dashboard.css" />
    <link rel="stylesheet" href="/css/sidebar.css" />
    <link rel="stylesheet" href="/css/global.css" />
    <link rel="stylesheet" href="/css/task.css" />
  </head>
  <body>
    <section id="background-top"></section>
    <section id="content">
      <div class="row">
        <!-- Tengah -->

        <!-- End Tengah -->

        <!-- Sidebar kiri -->
        <div class="col-lg-3">
          <h1 class="logo">PlanifyMe</h1>
          <div class="sidebar">
            <div>
              <a href="/dashboard" class="hover-link">
                <div class="d-flex">
                  <i class="fa-thin fa-grid-2 sidebar-icon-nonactive"></i>
                  <p class="sidebar-text">Dashboard</p>
                </div>
              </a>

              <a href="/task" class="hover-link">
                <div class="d-flex">
                  <i
                          class="fa-thin fa-envelope-open sidebar-icon"
                  ></i>

                  <p class="active-text">Task</p>
                </div>
              </a>

              <a href="/reminder" class="hover-link">
                <div class="d-flex">
                  <i class="fa-thin fa-bell sidebar-icon-nonactive"></i>

                  <p class="sidebar-text reminder">Reminder</p>
                </div>
              </a>

              <a href="/settings" class="hover-link">
                <div class="d-flex">
                  <i class="fa-thin fa-gear sidebar-icon-nonactive"></i>

                  <p class="sidebar-text">Settings</p>
                </div>
              </a>
            </div>

            <a href="/logout" class="hover-link">
              <div class="d-flex logout">
                <i
                        class="fa-thin fa-right-from-bracket sidebar-icon-nonactive"
                ></i>

                <p class="sidebar-text">Logout</p>
              </div>
            </a>
          </div>
        </div>

        <!-- End Sidebar kiri -->

        <!-- Tengah -->
        <div class="col-lg-9">
          <div class="tasks">
            <section id="task-actions">
              <div class="d-flex justify-content-between mt-5">
                <div class="d-flex">
                  <button type="button" class="btn button btn-dark custom-btn" data-toggle="modal"
                          data-target="#exampleModalCenter">
                    Create +
                  </button>
                </div>
                <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
                     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered modal-custom-size" role="document">
                    <div class="modal-content">
                      <form th:action="@{/task/createTask}" method="post">
                      <div class="modal-body ">
                        <button type="button" class="btn btn-close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true" style="font-size: 1.5rem;">&times;</span>
                        </button>
                        <div class="form-group row">
                          <label for="nama" class="col-sm-2 col-form-label">Task Name</label>
                          <div class="col-sm-4">
                            <input type="text" class="form-control" id="nama" name="nama" placeholder="Task Name">
                          </div>
                        </div>
                        <div class="form-group row">
                          <label for = "kategori" class="col-sm-2 col-form-label">Category</label>
                          <div class="col-sm-4">
                            <select id="kategori" name="kategori" class="form-select h-100 col-sm-12 custom-border custom-input">
                              <option th:each="category: ${categories}" th:value="${category.nama}" th:text="${category.nama}">nama</option>
                            </select>
                          </div>
                          <label for="dueDate" class="col-sm-2 col-form-label">Due Date</label>
                          <div class="col-sm-4">
                            <input type="date" class="form-control" id="dueDate" name="dueDate" placeholder="Due Date">
                          </div>
                        </div>
                        <p>Reminder</p>
                        <div class="form-group row">
                          <div class="col-sm-3">
                            <input type="checkbox" id="reminder1" name="reminder[0]" value="Bike">
                            <label for="reminder1"> a week before</label><br>
                          </div>
                          <div class="col-sm-3">
                            <input type="checkbox" id="reminder2" name="reminder[1]" value="Car">
                            <label for="reminder2"> three days before</label><br>
                          </div>
                          <div class="col-sm-3">
                            <input type="checkbox" id="reminder3" name="reminder[2]" value="Boat">
                            <label for="reminder3"> a day before</label><br>
                          </div>
                          <div class="col-sm-3">
                            <input type="checkbox" id="reminder4" name="reminder[3]" value="Boat">
                            <label for="reminder4"> on the day</label><br>
                          </div>

                        </div>
                        <div class="modal-att">
                          <button type="submit" class="btn button btn-dark custom-btn">
                            Save
                          </button>
                        </div>
                      </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </section>

            <table class="table table-rounded mt-3">
              <thead class="thead-light table-borderless">
              <tr>
                <th></th>
                <th>Task</th>
                <th>Category</th>
                <th>Due Date</th>
                <th>Status</th>
                <th></th>
                <th></th>
              </tr>
              </thead>
              <tbody>
              <tr th:each="task: ${tasks}">
                <td class="edit-cell">
                  <form th:action="@{'/task/markAsCompleted/' + ${task.idTask}}" th:method="post">
                    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
                    <input type="hidden" name="_method" value="put" />
                  <a th:if="${task.status.equals('Completed')}">
                    <button type="submit" class="hover-link trans-button">
                    <img src="/icon/clipboard-tick-bold.svg" alt="Edit" class="edit-icon">
                    </button>
                  </a>
                  <a th:if="${task.status.equals('Ongoing')}">
                    <button type="submit" class="hover-link trans-button">
                    <img src="/icon/clipboard-tick.svg" alt="Edit" class="edit-icon">
                    </button>
                  </a>
                  <a th:if="${task.status.equals('Passed Due')}">
                    <button type="submit" class="hover-link trans-button">
                    <img src="/icon/clipboard-tick.svg" alt="Edit" class="edit-icon">
                    </button>
                  </a>
                  </form>
                </td>
                <td th:text="${task.nama}">2</td>
                <td>
                  <div class="category-box" th:style="'background-color: ' + ${task.warnaKategori}" th:text="${task.kategori}">kategori</div>
                </td>
                <td th:text="${task.formattedDueDate2}"></td>
                <td>
                  <div class="status-circle" th:style="'background-color: ' + ${task.warnaStatus}"></div>
                  <span class="status-text" th:text="${task.status}" th:style="'color: '+ ${task.warnaStatus}">Ongoing</span>
                </td>
                <td class="edit-cell">
                  <form id="editForm" th:action="@{'/task/update/' + ${task.idTask}}" method="post">
                    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
                    <button type="button" class="trans-button edit-link" th:data-taskid="${task.idTask}" th:attr="data-target=${'#editModal-' + task.idTask}" data-toggle="modal">
                      <img src="/icon/edit-task.svg" alt="Edit" class="edit-icon">
                    </button>
                  </form>
                </td>
                <td class="edit-cell">
                  <form th:action="@{'/task/delete/' + ${task.idTask}}" th:method="post">
                    <button type="submit" class="hover-link trans-button">
                      <img src="/icon/trash.svg" alt="Edit" class="edit-icon">
                    </button>
                  </form>
                </td>
              </tr>
              <tr th:if="${#lists.isEmpty(tasks)}">
                <td colspan="6" style="text-align: center;">
                  <img src="/images/empty/empty.png" width="242.5" height="228.234" alt="Empty State" />
                  <p style="
                        color: #c6c6c6;

                        font-family: Poppins;
                        font-size: 17px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;
                      ">
                    You haven’t created any task
                  </p>
                </td>
              </tr>
              </tbody>
            </table>
            <div th:each="task: ${tasks}">
              <div th:id="'editModal-' + ${task.idTask}" class="modal fade">
              <div class="modal-dialog modal-dialog-centered modal-custom-size" role="document">
                <div class="modal-content">
                    <div class="modal-body ">
                      <button type="button" class="btn btn-close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" style="font-size: 1.5rem;">&times;</span>
                      </button>
                      <form th:action="@{'/task/update/' + ${task.idTask}}" th:object="${taskDto}" method="post">
                      <div class="form-group row">
                        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
                        <label th:for="${task.nama}" class="col-sm-2 col-form-label">Task Name</label>
                        <div class="col-sm-4">
                          <input type="text" class="form-control" name="nama" th:id="${task.nama}" th:value="${task.nama}">
                        </div>
                      </div>
                      <div class="form-group row">
                        <label th:for="${task.kategori}" class="col-sm-2 col-form-label">Category</label>
                        <div class="col-sm-4">
                          <select th:id="${task.kategori}" name="kategori" class="form-select h-100 col-sm-12 custom-border custom-input">
                            <option th:each="category: ${categories}" th:value="${category.nama}"
                                    th:text="${category.nama}" th:selected="${category.nama eq task.kategori}">nama</option>
                          </select>
                        </div>
                        <label th:for="${task.dueDate}" class="col-sm-2 col-form-label">Due Date</label>
                        <div class="col-sm-4">
                          <input type="date" class="form-control" th:id="${task.dueDate}" name="dueDate" th:value="${task.dueDate}">
                        </div>
                      </div>
                      <p>Reminder</p>
                      <div class="form-group row">
                        <div class="col-sm-3">
                          <input type="checkbox" id="reminder1-new" name="reminder[0]" th:checked="${not #strings.isEmpty(task.reminder[0])}" >
                          <label for="reminder1"> a week before</label><br>
                        </div>
                        <div class="col-sm-3">
                          <input type="checkbox" id="reminder2-new" name="reminder[1]" th:checked="${not #strings.isEmpty(task.reminder[1])}" >
                          <label for="reminder2"> three days before</label><br>
                        </div>
                        <div class="col-sm-3">
                          <input type="checkbox" id="reminder3-new" name="reminder[2]" th:checked="${not #strings.isEmpty(task.reminder[2])}">
                          <label for="reminder3"> a day before</label><br>
                        </div>
                        <div class="col-sm-3">
                          <input type="checkbox" id="reminder4-new" name="reminder[3]" th:checked="${not #strings.isEmpty(task.reminder[3])}">
                          <label for="reminder4"> on the day</label><br>
                        </div>

                      </div>
                      <div class="modal-att">
                        <button type="submit" class="btn button btn-dark custom-btn">
                          Save
                        </button>
                      </div>
                      </form>
                    </div>
                </div>
              </div>
            </div>
            </div>
          </div>
        </div>
        <!-- End Tengah -->
      </div>
    </section>

    <script
      src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
      crossorigin="anonymous"
    ></script>
    <script>
      window.addEventListener("scroll", function () {
        var scrollPosition = window.scrollY;

        var logo = document.querySelector(".logo");
        var profileName = document.querySelector(".profile-name");

        if (scrollPosition > 200) {
          logo.classList.add("scrolled");
        } else {
          logo.classList.remove("scrolled");
        }

        if (scrollPosition > 120) {
          profileName.classList.add("scrolled");
        } else {
          profileName.classList.remove("scrolled");
        }
      });
    </script>
  </body>
</html>
